<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <base href="{{base_href}}" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="<%= htmlWebpackPlugin.options.staticPath %>unsupportedRedirect.js" async></script>

    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png" />
  </head>

  <body>
    <section>
      <div id="application-root"></div>
      <div class="loading-indicator">
        <div id="sqlb-logo">
          <div class="database">
            <div class="db-body"></div>
            <div class="db-top">
              <div class="db-top-inner"></div>
            </div>
            <div class="db-divider divider-1"></div>
            <div class="db-divider divider-2"></div>
            <div class="db-bottom"></div>
          </div>
          <div class="chart">
            <div class="bar bar-1"></div>
            <div class="bar bar-2"></div>
            <div class="bar bar-3"></div>
            <div class="bar bar-4"></div>
          </div>
        </div>
        <div id="shadow"></div>
      </div>
    </section>
  </body>
</html>
